body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.chat-button {
    width: 60px;
    height: 60px;
    background: #00D974;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 3px 7px 7px #90F3AE;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

button:focus, #chat-textfield:focus {
    border: none;
    outline: none;
}

#message-icon, #cross-icon {
    padding: 13px;
    height: 20px;
    width: 20px;
}

.bot {
    height: 70%;
    width: 25%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #D5CECE;
    box-shadow: 3px 7px 7px rgb(168, 167, 167);
    border-radius: 25px;
    position: fixed;
    bottom: 120px;
    right: 20px;
    padding: 30px;
    overflow: auto;
}

#bot-header-image {
    height: 250px;
    width: 400px;
}

#bot-header-text {
    text-align: center;
}

#chat-textfield {
    position: fixed;
    bottom: 170px;
    height: 35px;
    width: 350px;
    border: none;
    background-color: #DFF8D3;
    border-radius: 25px;
}

#send-button {
    width: 40px;
    height: 40px;
    background: #347F5A;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    bottom: 170px;
    right: 50px;
}

#send-icon {
    height: 20px;
    width: 20px;
    padding: 5px;
}

#chat {
    height: 460px;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat::-webkit-scrollbar {
    display: none;
}

#chat {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-input {
    float: left;
}

.input {
    text-align: right;
    background-color: #BEF2A5;
    border-radius: 25px;
    width: 60%;
    padding: 0.5em 1em;
    color: black;
    margin-left: 80px;
}

.output {
    text-align: left;
    background-color: #347F5A;
    border-radius: 25px;
    width: 60%;
    padding: 0.5em 1em;
    color: black;
}