body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

#chat-button{
    width: 60px;
    height: 60px;
    background: #00D974;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: none;
    font-size: 20px;
    box-shadow: 3px 7px 7px #90F3AE;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#chat-button:focus, #chat-textfield:focus {
    border: none;
    outline: none;
}

#message-icon{
    padding: 13px;
    height: 20px;
    width: 20px;
}

.bot{
    height: 550px;
    width: 25%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #D5CECE;
    box-shadow: 3px 7px 7px rgb(168, 167, 167);
    border-radius: 25px;
    position: fixed;
    bottom: 120px;
    right: 20px;
    padding: 30px;
}

#bot-header-image{
    height: 250px;
    width: 400px;
}

#bot-header-text{
    text-align: center;
}

#chat-textfield{
    position: fixed;
    bottom: 170px;
    height: 35px;
    width: 400px;
    border: none;
    background-color: #DFF8D3;
    border-radius: 25px;
}
